.miolo, .lateral-compacto, .centro, .topo, .conteudo {
  border: 1px solid red; /* debug */
  background-color: lightblue;
  opacity: 0.8;
}

.miolo {
  display: flex;
  min-height: 95vh;
}

.lateral-compacto, .lateral-expandido {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.lateral-compacto{
  min-width: 3em;
}

.lateral-expandido {
  flex-grow: 6;
}

.centro {
  flex-grow: 12;
  display: flex;
  flex-direction: column;
}

.topo {
  min-height: 3em;
}

.conteudo {
  flex-grow: 1;
}

.lateral-compacto, .lateral-expandido {
  a {
    margin: 1em;
    max-width: 100%;
    background-image: url("/assets/images/logo_kanoe_curta.png");
    background-size: contain;
    min-width: 3em;
    min-height: 3em;
  }

  button {
    margin: 1em;
    width:20px !important;
    height: 20px;
  }
}

.lateral-expandido {
  a {
    background-image: url("/assets/images/logo_kanoe.png");
  }
}

@media (min-width: 1440px) {
  .miolo {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media (min-width: 1280px) {
  .miolo {
    margin-left: 5em;
    margin-right: 5em;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 800px) {
  .lateral-compacto{
    display: none;
  }

}
