<div class="miolo">
  <div [class]="classeLateral">
    <a href="/home">
      <!--      <img src="/assets/images/logo_kanoe_curta.png" alt="logo"/>-->
    </a>
    <!-- logo -->
    <!-- botão compactar/expandir -->
    <button pButton pRipple type="button" [icon]="iconLeftRight" class="p-button-xs p-button-secondary"
            (click)="expandeOuComprime()"></button>
    <!-- area de trabalho árvore -->
  </div>
  <div class="centro">
    <div class="topo">
      <!-- botão pra exibir menu em tela pequena -->
      <button pButton pRipple type="button" icon="pi pi-bars" class="p-button-text menu-compacto"
              (click)="expandeOuComprime()"></button>
      <!-- area de trabalho search -->
      <!-- botoões -->
      <!-- logoff -->
    </div>
    <div class="conteudo">
      <router-outlet></router-outlet>
      <!-- listagem processos -->
      <!-- dialogs -->
      <!-- alertas -->
    </div>
  </div>
</div>
